// Import page-specific CSS files here.
@import "home";
.card-category {
  height: 200px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px
}
